<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Agritect</title>
  <link rel="stylesheet" href="/helloworld/public/css/contactForm.css">
  <link rel="icon" href="/helloworld/public/images/favicon.png" sizes="16x16" type="image/png">
</head>
<body>
	
<div class="wrapper">
  <div class="title">
    <h1>Tell me alittle bit about yourself</h1>
  </div>
  <div class="contact-form">
    <div class="input-fields">
      <input type="text" class="input" placeholder="Name">
      <input type="text" class="input" placeholder="Email Address">
      <input type="text" class="input" placeholder="Phone">
      <input type="text" class="input" placeholder="Subject">
    </div>
    <div class="msg">
      <textarea placeholder="Message"></textarea>
      <a href="http://localhost:3000/thankyou" style="text-decoration: none;"><div class="btn">Send </div></a>  
    </div>
  </div>
</div>
</body>
</html>