<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Agritect</title>
    
    <script src="https://kit.fontawesome.com/8af5379226.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/helloworld/public/css/assignment.css">
    <link rel="icon" href="/helloworld/public/images/favicon.png" sizes="16x16" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,500&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <img src="/helloworld/public/images/assignment/logo.png" alt="">
        <nav class="nav-container">
            <ul>
                <li>
                <a href="" class="active">Home</a> 
                </li>
                <li>
                    <a href="">About</a> 
                </li>
                <li>
                    <a href="">Portfolio</a> 
                </li>
                <li>
                    <a href="">Contact</a> 
                </li>
            </ul>
        </nav>
    </header>
    <div id="container-bg">
        <div class="content-wrapper">
            <h1>KESA PR</h1>
            <p style="color: darkmagenta;">Thank you for contacting me! Looking forward to working with you soon</p>
        </div>
    </div>
    
</body>
</html>