doctype html  
html(lang='en')  
    head
        title Pug Version of Form
    body
    form(method="get" enctype="application/x-www-form-urlencoded" action="/html/codes/html_form_handler.cfm")
    p
        label Name
        input(type="text" name="customer_name" required )
    p
        label Name
        input(type="text" name="customer_name" required )
        p
        label Name
        input(type="text" name="customer_name" required )
    