meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title The Agritect
script(src="https://kit.fontawesome.com/8af5379226.js", crossorigin="anonymous")
link(rel="stylesheet", href="/css/assignment.css")
link(rel="icon", href="/images/favicon.png", sizes="16x16", type="image/png")
link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,500&display=swap", rel="stylesheet")
header
  img(src="/images/assignment/logo.png", alt)
  nav.nav-container
    ul
      li
        a.active(href) Home
      li
        a(href) About
      li
        a(href) Portfolio
      li
        a(href) Contact
#container-bg
  .content-wrapper
    h1 KESA PR
    p The best Agritect in town
    a(href="http://localhost:3000/register") Book your consultation